@{
    ViewData["Title"] = "Home";
}
<div class="container page-content-container">
    <h1>Welcome to Aura Web!</h1>
    <p>
        This project is a work in progress, please excuse any missing features for now.
    </p>
    <p>
        All permissions are requested for development purposes. Prior to general release, this application will be reconfigured to only request the required permissions.
    </p>
</div>
