@model AuraWeb.Models.ItemTypesPageViewModel
@{
    ViewData["Title"] = "Item Types";
    ViewData["Action"] = "ItemTypes";
    ViewData["Query"] = Model.Query;
    ViewData["Count"] = Model.ItemTypes.Count;
}
<div class="container page-content-container">

    @Html.Partial("SearchWithResults", ViewData)

    @Html.DisplayFor(x => x.ItemTypes, "ItemTypesTable")
</div>
