@model AuraWeb.Models.ModulesPageViewModel
@{
    ViewData["Title"] = "Modules";
    ViewData["Action"] = "Modules";
    ViewData["Query"] = Model.Query;
    ViewData["Count"] = Model.Modules.Count;
}
<div class="container page-content-container">

    @Html.Partial("SearchWithResults", ViewData)

    @Html.DisplayFor(x => x.Modules, "ModulesTable")
</div>

