@model AuraWeb.Models.OresPageViewModel
@{
    ViewData["Title"] = "Ores";
    ViewData["Action"] = "Ores";
    ViewData["Query"] = Model.Query;
    ViewData["Count"] = Model.Ores.Count;
}
<div class="container page-content-container">

    @Html.Partial("SearchWithResults", ViewData)

    @Html.DisplayFor(x => x.Ores, "OresTable")
</div>
