@model AuraWeb.Models.ShipsPageViewModel
@{
    ViewData["Title"] = "Ships";
    ViewData["Action"] = "Ships";
    ViewData["Query"] = Model.Query;
    ViewData["Count"] = Model.Ships.Count;
}
<div class="container page-content-container">

    @Html.Partial("SearchWithResults", ViewData)

    @Html.DisplayFor(x => x.Ships, "ShipsTable")
</div>

