@model AuraWeb.Models.ManagementPageViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <p>SDE Status - @Model.SDEExists</p>
    @Html.ActionLink("Click to Refresh SDE", "RefreshSDE", "Management", null, null)
</div>