@model AuraWeb.Models.ManagementPageViewModel
@{
    ViewData["Title"] = "Refresh SDE";
}
<h2>@ViewData["Title"]</h2>
<div class="container page-container">
    <b>Status: </b> @Model.SDEStatus
</div>