@model AuraWeb.Models.MarketBestPricesPageViewModel
@{
    ViewData["Title"] = "Market Best Buy Prices";
}
<h2>@ViewData["Title"]</h2>
<div class="container page-container">
    @foreach (var order in Model.Orders)
    {
        <div class="row">
            <div class="col-6">
                @order.TypeName
            </div>
            <div class="col-6">
                @order.Price
            </div>
        </div>
    }
</div>