@model AuraWeb.Models.MarketBestPricesPageViewModel
@{
    ViewData["Title"] = "Market Best Sell Prices";
}
<div class="container page-content-container">
    <h2>@ViewData["Title"]</h2>
    @foreach (var order in Model.Orders)
    {
        <div class="row">
            <div class="col-6">
                @order.TypeName
            </div>
            <div class="col-6">
                @order.Price
            </div>
        </div>
    }
</div>