@model AuraWeb.Models.UniverseConstellationsPageViewModel
@{
    ViewData["Title"] = "Constellations";
    ViewData["Action"] = "Constellations";
    ViewData["Query"] = Model.Query;
    ViewData["Count"] = Model.Constellations.Count;
}
<div class="container page-content-container">

    @Html.Partial("SearchWithResults", ViewData)

    @Html.DisplayFor(x => x.Constellations, "ConstellationsTable")
</div>