@model AuraWeb.Models.SearchPageViewModel
@{
    ViewData["Title"] = "Search";
}
<div class="container page-content-container">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-6">
            TODO
        </div>
        <div class="col-6">
            TODO
        </div>
    </div>
</div>