@model AuraWeb.Models.UniverseRegionsPageViewModel
@{
    ViewData["Title"] = "Universe Regions";
}
<div class="container page-content-container">
    <h2>@ViewData["Title"]</h2>
    @foreach (var region in Model.Regions)
    {
        <a asp-action="RegionInfo"
           asp-controller="Universe"
           asp-route-id="@region.RegionId">
            <div class="row">
                <h3>@region.Name</h3> <i>(#@region.RegionId)</i>
            </div>
        </a>
        <div class="row">
            <p>
                @Html.Raw(region.Description)
            </p>
        </div>
        <hr />
    }
</div>