@model AuraWeb.Models.UniverseRegionsPageViewModel
@{
    ViewData["Title"] = "Regions";
}
<div class="container page-content-container">
    <h2>@ViewData["Title"]</h2>
    <form asp-controller="Universe" asp-action="Regions" method="get"
        class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" 
            placeholder="Search" aria-label="Search"
            name="query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Regions</button>
    </form>
    @if (!String.IsNullOrWhiteSpace(Model.Query))
    {
        <p>Query: @Model.Query</p>
    }
    <p>Result Count: @Model.Regions.Count</p>
    @Html.DisplayFor(x => x.Regions, "RegionsTable")
</div>