@model AuraWeb.Models.UniverseRegionsPageViewModel
@{
    ViewData["Title"] = "Regions";
    ViewData["Action"] = "Regions";
    ViewData["Query"] = Model.Query;
    ViewData["Count"] = Model.Regions.Count;
}
<div class="container page-content-container">

    @Html.Partial("SearchWithResults", ViewData)

    @Html.DisplayFor(x => x.Regions, "RegionsTable")
</div>