@model AuraWeb.Models.UniverseStationsPageViewModel
@{
    ViewData["Title"] = "Stations";
    ViewData["Action"] = "Stations";
    ViewData["Query"] = Model.Query;
    ViewData["Count"] = Model.Stations.Count;
}
<div class="container page-content-container">

    @Html.Partial("SearchWithResults", ViewData)

    @Html.DisplayFor(x => x.Stations, "StationsTable")
</div>