@model AuraWeb.Models.UniverseSystemsPageViewModel
@{
    ViewData["Title"] = "Systems";
    ViewData["Action"] = "Systems";
    ViewData["Query"] = Model.Query;
    ViewData["Count"] = Model.Systems.Count;
}
<div class="container page-content-container">

    @Html.Partial("SearchWithResults", ViewData)

    @Html.DisplayFor(x => x.Systems, "SystemsTable")
</div>