@model AuraWeb.Models.CharacterPageViewModel
@{
    ViewData["Title"] = "Character";
}
<div class="container">
    <div class="row">
        <img src="@Model.CharacterPortrait" />
    </div>
    <div class="row">
        <div class="col-lg-4">
            <b>Character Name</b>
        </div>
        <div class="col-lg-8">
            @Model.CharacterName
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <b>Corporation Name</b>
        </div>
        <div class="col-lg-8">
            @Model.CorporationName
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <b>Character Location</b>
        </div>
        <div class="col-lg-8">
            @Model.CharacterLocation
        </div>
    </div>
</div>