/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 56px;
}

/* https://stackoverflow.com/questions/40316527/full-background-image-with-fade-effect */
#background > div {
    z-index: -1;
    animation: imageAnimation 40s linear infinite;
    backface-visibility: hidden;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: absolute;
}
@keyframes imageAnimation {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#background div:nth-of-type(1) {
    background-image: url('/images/backgrounds/01.jpg');
    animation-delay: 36s;
}
#background div:nth-of-type(2) {
    background-image: url('/images/backgrounds/02.jpg');
    animation-delay: 32s;
}
#background div:nth-of-type(3) {
    background-image: url('/images/backgrounds/03.jpg');
    animation-delay: 28s;
}
#background div:nth-of-type(4) {
    background-image: url('/images/backgrounds/04.jpg');
    animation-delay: 24s;
}
#background div:nth-of-type(5) {
    background-image: url('/images/backgrounds/05.jpg');
    animation-delay: 20s;
}
#background div:nth-of-type(6) {
    background-image: url('/images/backgrounds/06.jpg');
    animation-delay: 16s;
}
#background div:nth-of-type(7) {
    background-image: url('/images/backgrounds/07.jpg');
    animation-delay: 12s;
}
#background div:nth-of-type(8) {
    background-image: url('/images/backgrounds/08.jpg');
    animation-delay: 8s;
}
#background div:nth-of-type(9) {
    background-image: url('/images/backgrounds/09.jpg');
    animation-delay: 4s;
}
#background div:nth-of-type(10) {
    background-image: url('/images/backgrounds/10.jpg');
    animation-delay: 0s;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    /*z-index: 2;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background: rgba(255,255,255,0.8);*/
    /*overflow-y: auto;*/
    height: 100%;
    overflow-x: hidden;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.page-content-container {
    padding-top:20px;
}

#footer {
    margin:15px;
}

.width-100 {
    width: 100%;
}

.width-100vw {
    width: 100vw;
}

.height-100 {
    height: 100%;
}

.height-100vw {
    height: 100vw;
}

.no-margin {
    margin: 0 !important;
}

.no-left-margin {
    margin-left: 0px !important;
}

.no-right-margin {
    margin-right: 0px !important;
}

.no-top-margin {
    margin-top: 0px !important;
}

.no-bottom-margin {
    margin-bottom: 0px !important;
}

.no-padding {
    padding: 0 !important;
}

.no-left-padding {
    padding-left: 0px !important;
}

.no-right-padding {
    padding-right: 0px !important;
}

.no-top-paddig {
    padding-top: 0px !important;
}

.no-bottom-padding {
    padding-bottom: 0px !important;
}

.navbar-login-container {
    padding-right: 15px;
}

.custom-card {
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
}

.image-border {
    border: 3px solid lightgray;
}

.news-post-content {
    padding-left: 30px;
    padding-right: 30px;
}

.news.post-content-text {
    white-space: pre-line;
    margin-top: -30px;
}

.filter-compensator {
    margin-top: 56px;
}

.filter-container {
    margin-top: 56px;
    background: lightgray !important;
    z-index: 1029;
}

.list-group-item {
    padding-left: 30px;
}

.unset-border-radius {
    border-radius: unset !important;
}

.unset-border {
    border: unset !important;
}

.only-scroll-y {
    overflow-x: hidden;
    overflow-y: scroll;
}

.only-scroll-y-unset {
    overflow-x: hidden;
    overflow-y: unset;
}

.flex-display {
    display: flex;
}

.transparent-bg-color {
    background-color: transparent;
}

.filter-brand {
    color: black !important;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .border-right-sm {
        border-right: unset;
    }

    .height-custom-1 {
        height: calc(100vh - 56px - 48px - 0px);
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .border-right-sm {
        border-right: 1px solid rgba(0,0,0,0.1);
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .border-right-sm {
        border-right: 1px solid rgba(0,0,0,0.1);
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .border-right-sm {
        border-right: 1px solid rgba(0,0,0,0.1);
    }
}